//Typography
$body-font: "PT Sans", sans-serif;
$heading-font: "Montserrat", sans-serif;

//Color
$text: #000;
$heading-text: #2a315b;
$subheading-text: #6b788e;

$white: #fff;
$black: #000;

$dark: #222950;

$grad-one: #3607a6;
$grad-two: #8624e1;
$grad-three: #ff68c2;
$grad-four: #ffde73;
$grad-five: #35aa53;
$grad-six: #34dd65;

$shadow: #001dbe;
$shadow-2: #677eff;

$overlay: #2A315B;