//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Open Sans', sans-serif;

//Color
$text: #000;
$heading-text: #2a315b;

$white: #fff;
$black: #000;

$dark: #222950;


$grad-three: #ff68c2;
$grad-four: #ffde73;
