//Text Color
.t-text-light {
    color: $white;
}
.st-text {
    color: $heading-text;
}
.t-link {
    color: $heading-text;
    &:hover {
        color: $heading-text;
        text-decoration: none;
    }
}