//Margin Top
//Margin Bottom
.t-mb-30 {
    margin-bottom: 30px;
}
.t-mb-40 {
    margin-bottom: 40px;
}
.t-mb-60 {
    margin-bottom: 60px;
}
//Margin Right
.t-mr-16 {
    margin-right: 16px;
}
.t-mr-35 {
    margin-right: 35px;
}
//Margin Left
.t-ml-40 {
    margin-left: 40px;
}