//Margin Top
.t-mt-60 {
    margin-top: 60px;
}

//Margin Bottom
.t-mb-50 {
    margin-bottom: 50px;
}
.t-mb-80 {
    margin-bottom: 80px;
}
.t-mb-100 {
    margin-bottom: 100px;
}
//Margin Right
.t-mr-5 {
    margin-right: 5px;
}