//Margin Top
.t-mt-18 {
    margin-top: 18px;
}
.t-mt-30 {
    margin-top: 30px;
}
.t-mt-60 {
    margin-top: 60px;
}
//Margin Bottom
.t-mb-5 {
    margin-bottom: 5px;
}
.t-mb-15-md-30 {
    margin-bottom: 15px;
    @include md-screen {
        margin-bottom: 30px;
    }
}
.t-mb-16 {
    margin-bottom: 16px;
}
.t-mb-30 {
    margin-bottom: 30px;
}
.t-mb-40 {
    margin-bottom: 40px;
}
.t-mb-60 {
    margin-bottom: 60px;
}
//Margin Right
.t-mr-16 {
    margin-right: 16px;
}
.t-mr-35 {
    margin-right: 35px;
}
//Margin Left
.t-ml-40 {
    margin-left: 40px;
}