//Padding All
.t-p-8 {
    padding: 8px;
}
.t-p-13 {
    padding: 13px;
}
//Padding top
.t-pt-10 {
    padding-top: 10px;
}
.t-pt-120 {
    padding-top: 120px;
}
//Padding Bottom
.t-pb-120 {
    padding-bottom: 120px;
}
//Padding Right
//Padding Left