//Spacer right
.t-mr-16-md-40 {
	margin-right: 16px;
	@include md-screen {
		margin-right: 40px;
	}
}

//Spacer Bottom
.t-mb-m-130 {
	margin-bottom: -130px;
}
//Spacer Top
.t-top-hero {
	margin-top: 150px;
}
//Spacer All
.t-no-md-guts {
	@include md-screen {
		margin-left: 0 !important;
		margin-right: 0 !important;
		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}
