//All course section
.st-all-course {
    padding-top: 120px;
    padding-bottom: 188px;
    background-image: url(../img/course-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}