//About 
.st-about {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
    &__parallax {
        position: absolute;
        top: 100px;
        right: 120px;
    }
    &__img {
        position: relative;
        &::after {
            width: 100px;
            height: 150px;
            content: url(../img/about-after.png);
            position: absolute;
            left: -30px;
            bottom: -30px;
            z-index: -1;
        }
    }
}