.st-banner {
    position: relative;
    &__bg {
        background-image: url(../img/banner-bg.png);
        background-position: center bottom;
        background-size: initial;
        background-repeat: no-repeat;
    }
    &__title {
        display: inline-block;
        position: relative;
        color: $white;
        text-transform: capitalize;
        z-index: 1;
        &-blog {
            @include xxl-screen {
                &::after {
                    content: "Blog";
                    width: 700px;
                    position: absolute;
                    top: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-text-stroke: 1px rgba($secondary, 0.2);
                    -webkit-text-fill-color: transparent;
                    font-family: $heading-font;
                    font-size: 80px;
                    z-index: -1;
                }
            }
        }
        &-blog-details {
            @include xxl-screen {
                &::after {
                    content: "Details";
                    width: 700px;
                    position: absolute;
                    top: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-text-stroke: 1px rgba($secondary, 0.2);
                    -webkit-text-fill-color: transparent;
                    font-family: $heading-font;
                    font-size: 80px;
                    z-index: -1;
                }
            }
        }
        &-contact {
            @include xxl-screen {
                &::after {
                    content: "Contact";
                    width: 700px;
                    position: absolute;
                    top: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-text-stroke: 1px rgba($secondary, 0.2);
                    -webkit-text-fill-color: transparent;
                    font-family: $heading-font;
                    font-size: 80px;
                    z-index: -1;
                }
            }
        }
        &-course {
            @include xxl-screen {
                &::after {
                    content: "Details";
                    width: 700px;
                    position: absolute;
                    top: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-text-stroke: 1px rgba($secondary, 0.2);
                    -webkit-text-fill-color: transparent;
                    font-family: $heading-font;
                    font-size: 80px;
                    z-index: -1;
                }
            }
        }
        
    }
    &__content {
        padding-top: 60px;
        padding-bottom: 200px;
    }
}
