//Button
.st-btn {
    display: inline-block;
    border: 1px solid transparent;
    &--primary {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 22px;
        padding-right: 22px;
        background: $secondary;
    }
    &--secondary {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 22px;
        padding-right: 22px;
        background: lighten(rgba($secondary, .3), 25%);
        transition: all .3s ease;
        &:hover {
            box-shadow: 0 5px 15px rgba($black, .1);
            color: $white;
            background: $secondary;
        }
    }
    &--outline {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 22px;
        padding-right: 22px;
        border: 2px solid $heading-text;
        text-transform: capitalize;
        color: $heading-text;
        transition: all .3s ease;
        &:hover {
            color: $secondary;
            border: 2px solid $secondary;
        }
    }
    &-link {
        display: inline-block;
        transition: all .3s ease;
        font-weight: 500;
        &:hover {
            text-decoration: none;
        }
        &--primary {
            text-transform: capitalize;
            color: $white;
            &:hover {
                color: $bg-one;
            }
        }
        
        &--secondary {
            text-transform: capitalize;
            color: $white;
            &:hover {
                color: $secondary;
            }
        }
        &--tertiary {
            text-transform: capitalize;
            color: $secondary;
        }
        &--default {
            text-transform: capitalize;
            color: $heading-text;
            &.active {
                color: $secondary;
            }
            &:hover {
                color: $secondary;
            }
        }
    }
    &-icon {
        margin-left: 5px;
    }
    &-rounded {
        border-radius: 50px;
    }
    &-short-round {
        border-radius: 5px;
    }
    &-group {
        position: relative;
        z-index: 9;
    }
}