.st-course-details {
    position: relative;
    overflow: hidden;
    &__parallax {
        position: absolute;
        top: 200px;
        right: 220px;
        &-2 {
            position: absolute;
            top: 50%;
            left: 220px;
            transform: translateY(-50%);
        }
    }
}