.st-course-module {
    padding: 0;
    margin: 0;
    list-style: none;
    &__list {
        position: relative;
        margin-bottom: 20px;
        padding-left: 25px;
        &::before {
            content: '\f00c';
            font-family: $icon;
            font-weight: 700;
            position: absolute;
            left: 0;
        
        }
    }
    &__link {
        color: $heading-text;
        &:hover {
            color: $heading-text;
            text-decoration: none;
        }
    }
}