//Header top
.st-header-top {
    background: $bg-one;
    &__info {
        
        &-icon {
            display: inline-block;
            background: $secondary;
            color: $bg-one;
            font-size: 33px;
            span {
                line-height: 1.5;
            }
        }
    }
    &__slider {
        position: relative;
        &-item {
            a {
                color: $white;
                transition: all .3s ease;
                &:hover {
                    color: $secondary;
                    text-decoration: none;

                }
            }
            &:focus {
                outline: none;
            }
        }
        //Slider Customization
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $white;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                color: $secondary;
            }
            &-prev {
                right: 10px;
                z-index: 9999;
                @include xl-screen {
                    right: 45px;
                }
            }
            &-next {
                right: -5px;
                @include xl-screen {
                    right: 25px;
                }
            }
        }
    }
}

