// Header Style
.sdy_header {
	min-height: 812px;
	height: 100vh;
	width: 100%;
	background-image: url(../img/hero-bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	@include xl-screen {
		min-height: auto;
	}
	&__bg {
		height: 100%;
		width: 100%;
		position: relative;
		background: rgba($black, .2);
	}
	&__bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
