.st-hero-bg {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - 96px);
    width: 100%;
    @include lg-screen {
        display: block;
    }
    &__el-one {
        position: absolute;
        top: 100px;
        right: 0;
        @include xliv-screen {
            right: 110px;
        }
        @include xxl-screen {
            right: 200px;
        }
    }
    &__el-two {
        position: absolute;
        top: 0;
        right: 200px;
    }
    &__el-three {
        position: absolute;
        top: 110px;
        left: 20px;
    }
    &__el-four {
        position: absolute;
        bottom: 0px;
        right: 20px;
    }
    &__el-five {
        position: absolute;
        bottom: 110px;
        left: 90px;
    }
    &__el-six {
        position: absolute;
        top: 30px;
        right: 0px;
    }
    &__el-seven {
        position: absolute;
        bottom: -100px;
        left: 0px;
    }
    &__ani-one {
        position: absolute;
        top: -60px;
        right: 0;
        color: $custom-23;
        font-size: 40px;
        line-height: 1;
        animation: animateThree 16s linear .5s infinite ;
    }
    &__ani-two {
        position: absolute;
        top: -30px;
        right: 120px;
        color: $custom-18;
        font-size: 40px;
        line-height: 1;
        animation: animateFour 16s linear .5s infinite ;
    }
    &__ani-three {
        position: absolute;
        top: -20px;
        left: 40px;
        color: $custom-14;
        font-size: 50px;
        line-height: 1;
        animation: animateOne 16s linear .5s infinite ;
    }
    &__ani-four {
        position: absolute;
        bottom: 150px;
        left: -40px;
        color: $custom-23;
        font-size: 40px;
        line-height: 1;
        animation: animateThree 16s linear .5s infinite ;
    }
    &__ani-five {
        position: absolute;
        bottom: -30px;
        right: 200px;
        color: $custom-18;
        font-size: 40px;
        line-height: 1;
        animation: animateTwo 20s linear .5s infinite ;
    }
    &__animate-1 {
        position: absolute;
        bottom: 170px;
        right: 100px;
        animation: animateOne 16s linear .5s infinite ;
    }
    &__animate-2 {
        position: absolute;
        top: 300px;
        left: 200px;
        animation: animateTwo 20s linear .5s infinite ;
    }
    &__animate-3 {
        position: absolute;
        top: 100px;
        left: 300px;
        animation: animateOne 16s linear .5s infinite ;
    }
    &__animate-4 {
        position: absolute;
        bottom: 300px;
        left: 100px;
        animation: animateThree 20s linear .5s infinite ;
    }
}
@keyframes animateOne {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes animateTwo {
    0% {
        transform: rotate(0deg)
        translate(-60px)
        rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
        translate(-60px)
        rotate(-360deg);
    }
}
@keyframes animateFour {
    0% {
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(360deg) ;
    }
}
@keyframes animateThree {
    0% {
        transform: translate(0, 0) ;
    }
    
    50% {
        transform: translate(-50px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}