//Hero
.st_hero {
    &-title {
        color: $white;
    }
    &-subtitle {
        display: block;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: $white;
    }
}
