//Hero
.sdy_hero {
    padding-top: 70px;
    @include md-screen {
        padding-top: 160px;
    }
    @include lg-screen {
        padding-top: 100px;
    }
    @include xl-screen {
        padding-top: 130px;
    }
    &__title {
        margin-bottom: 15px;
        color: $white;
    }
    &__subtitle {
        display: block;
        color: $white;
    }
}
