.iconik {
    display: flex;
    align-items: center;
    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        color: $white;
        &--1 {
            background-image: linear-gradient(-39deg, $custom-3, $custom-2);
        }
        &--2 {
            background-image: linear-gradient(-39deg, $custom-6, $custom-5);
        }
        &--3 {
            background-image: linear-gradient(-39deg, $custom-9, $custom-8);
        }
    }
    &__title {
        text-transform: capitalize;
        color: $heading-text;
        font-weight: 700;
    }
}