//Mega Menu
.st-mega-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    @include md-screen {
        padding-left: 80px;
        padding-right: 80px;
    }
    @include lg-screen {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    &-container {
        @include lg-screen {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            overflow: hidden;
            &::before {
                content: url(../img/mega-menu-element-1.png);
                position: absolute;
                top: 0;
                right: -50px;
                z-index: -1;
            }
            &::after {
                content: url(../img/mega-menu-element-2.png);
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
            
        }
    }
    &__title {
        display: block;
        text-align: left;
        position: relative;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        &::after {
            content: "";
            width: 33px;
            height: 2px;
            position: absolute;
            bottom: -5px;
            left: 0;
            background: $border;
        }
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        &-item {
            border-bottom: 1px solid rgba($black, .05);
            &:last-child {
                border-bottom: transparent;
            }
            @include lg-screen {
                margin-right: 0 !important;
            }
        }
    }
    &__link {
        display: block;
        padding: 10px;
    }
}
