//Nav Style
.kdv_nav {
    padding: 0;
    margin: 0;
    list-style: none;
    &--primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include lg-screen {
            flex-direction: row;
            margin-bottom: 0 !important;
        }
        li {
            margin-bottom: 5px;
            @include lg-screen {
                margin-bottom: 0;
                margin-right: 50px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                padding-top: 5px;
                padding-bottom: 5px;
                display: inline-block;
                color: $white;
                font-family: $heading-font;
                text-transform: capitalize;
                transition: all 0.3s ease;
                @include md-screen {
                    font-size: 34px;
                    font-style: italic;
                }
                @include lg-screen {
                    font-family: $body-font;
                    font-size: 17px;
                    font-weight: 400;
                    font-style: normal;
                }
                &:hover {
                    text-decoration: none;
                    background: -webkit-linear-gradient(
                        120deg,
                        $grad-three,
                        $grad-four
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &.current-menu-item {
                a {
                    background: -webkit-linear-gradient(
                        120deg,
                        $grad-three,
                        $grad-four
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    &--rating {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &__item {
            margin-right: 5px;
            &:last-child {
                margin-right: 10px;
            }
        }
    }
}
