//Nav Style
.st_nav {
    padding: 0;
    margin: 0;
    list-style: none;
    &--primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include lg-screen {
            flex-direction: row;
            margin-bottom: 0 !important;
        }
        li {
            width: 100%;
            margin-bottom: 5px;
            @include lg-screen {
                width: initial;
                margin-bottom: 0;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                padding-top: 20px;
                padding-bottom: 20px;
                display: inline-block;
                color: $white;
                text-transform: uppercase;
                transition: all 0.3s ease;
                font-family: $extra-font;
                @include md-screen {
                    font-size: 24px;
                }
                @include lg-screen {
                    font-size: 14px;
                    font-weight: 700;
                    font-style: normal;
                }
                &:hover {
                    text-decoration: none;
                    color: $secondary;
                }
            }
            &.current-menu-item {
                a {
                    color: $secondary;
                }
            }
        }
    }
}
.menu-item-has-children {
    position: relative;
    .sub-menu {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        opacity: 0;
        visibility: none;
        z-index: -1;
        transition: all 0.3s ease;
        @include lg-screen {
            width: 650px;
            position: absolute;
            border-radius: 10px;
        }
        @include xl-screen {
			width: 950px;
			left: -200%;
        }
        li {
            margin-bottom: 0;
            width: 100%;
            visibility: hidden;
            transition: all 0.3s ease;
            @include lg-screen {
                width: auto;
            }
            a {
                width: 100%;
                display: inline-block;
                color: $white;
                background: inherit;
                -webkit-text-fill-color: inherit;
                transition: all 0.3s ease;
                &:hover {
                    background: darken($white, 5%);
                    border-radius: 5px;
                }
            }
            &:first-child {
                padding-top: 20px;
            }
            &:last-child {
                padding-bottom: 20px;
            }
        }
    }
    &:hover > a {
        color: $secondary;
    }
    &:hover {
        > .sub-menu {
            height: 300px;
            overflow: hidden;
            overflow-y: scroll;
            position: relative;
            visibility: visible;
            opacity: 1;
            z-index: 99;
            top: 100%;
            transform: translateX(-50%);
            box-shadow: 5px 5px 15px rgba($black, .08);
            @include lg-screen {
                width: 650px;
                max-width: 650px;
                height: auto;
                overflow: hidden;
                overflow-y: auto;
                position: absolute;
            }
            @include xl-screen {
                width: 950px;
                max-width: 950px;
                left: -200%;
            }
            li {
                visibility: visible;
            }
        }
        >.st-sub-menu {
            position: relative;
            visibility: visible;
            opacity: 1;
            z-index: 9999;
            @include lg-screen {
                position: absolute;
            }
        }
    }
    
    li:hover > .sub-menu {
        height: auto;
        visibility: visible;
        opacity: 1;
        z-index: 9999;
    }
    &::after {
        content: "\f107";
        position: absolute;
        top: 30px;
        right: 80px;
        transform: translateY(-50%);
        font-family: "Font Awesome 5 free";
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: $secondary;
        @include md-screen {
            right: 230px;
            top: 35px;
        }
        @include lg-screen {
            right: -16px;
            top: 28px;
        }
    }
    @include lg-screen {
        &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: 0;
                right: 14px;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 15px solid white;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
            }
            &:hover::before {
                opacity: 1;
                visibility: visible;
            }

    }
}
