.st-saas-menu {
    display: flex;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 40px;
        color: $white;
        &-1 {
            background-image: linear-gradient(-39deg, $custom-3, $custom-2);
            box-shadow: 0 5px 10px rgba($custom-3, .4);
        }
        &-2 {
            background-image: linear-gradient(-39deg, $custom-6, $custom-5);
            box-shadow: 0 5px 10px rgba($custom-6, .4);
        }
        &-3 {
            background-image: linear-gradient(-39deg, $custom-8, $custom-9);
            box-shadow: 0 5px 10px rgba($custom-9, .4);
        }
        &-4 {
            background-image: linear-gradient(-39deg, $custom-24, $custom-23);
            box-shadow: 0 5px 10px rgba($custom-24, .4);
        }
    }
    &__product {
        text-align: left;
        &-name {
            display: block;
            font-weight: 700;
            color: lighten($heading-text, 4%);
            text-transform: capitalize;
            font-family: $extra-font;
            font-size: 16px;
            letter-spacing: .2px;
        }
        &-des {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            color: $text-icon;
            text-transform: capitalize;
            letter-spacing: .2px;
            &-new {
                position: relative;
                &::after {
                    content: 'NEW';
                    position: absolute;
                    top: 50%;
                    right: -40px;
                    transform: translateY(-50%);
                    font-size: 10px;
                    line-height: 1;
                    padding: 3px 5px;
                    background: $custom-18;
                    color: $white;
                }
            }
        }
    }
}